[user]
	email = mark.alfred.battersby@gmail.com
	name = Mark Battersby
	signingkey = A9C960DD0C970253
[color]
	ui = true
[core]
	# editor = subl -ws
	editor = cursor --wait
	excludesfile = ~/.config/git/.gitignore_global
	ignorecase = false
[status]
  showUntrackedFiles = all
[push]
	default = current
[branch]
	autosetuprebase = always
[pull]
	rebase = true
[rebase]
	autostash = true
	autosquash = true
[rerere]
	enabled = 1
[pager]
	log  = $(brew --prefix git)/share/git-core/contrib/diff-highlight/diff-highlight | less
	show = $(brew --prefix git)/share/git-core/contrib/diff-highlight/diff-highlight | less
	diff = $(brew --prefix git)/share/git-core/contrib/diff-highlight/diff-highlight | less

[alias]
	c = checkout
	f = fetch
	p = pull
	r = rebase
	s = status --short
	d = diff
	a = add
	b = branch
	co = commit

	c- = checkout -
	ca = checkout -- .
	cb = checkout -b
	cB = checkout -B
	cm = checkout main
	al = add .
	aa = add -A
	au = add -u
	cof = commit --fixup
	cos = commit --squash
	r- = rebase - -i
	rc = rebase --continue
	ra = rebase --abort
	rem = rebase main
	remi = rebase main -i
	rpo = remote prune origin

	arc = !git au && git rc

	up = !git fetch && git checkout main && git pull && git checkout -
	pr = !gh pr create
	release = !git up && git checkout production && git merge main

	undo = reset HEAD^
	wip = !git add . && git commit -m WIP --no-verify

	open = !cursor $(git status --short | awk '$1 ~ /^[^ ]/ {print $2}')
	open-from = "!cursor $(git diff-tree --no-commit-id --name-only -r $1) #"
	conflicts = !cursor $(git status --short | awk '$1 ~ /^[AUD][AUD]/ {print $2}')

	ignore = update-index --assume-unchanged
	unignore = update-index --no-assume-unchanged
	ignored = !git ls-files -v | grep "^[[:lower:]]"

	delete-merged = !git branch --merged | grep -v "^*" | xargs -n 1 git branch -d
	delete-squash-merged = !git for-each-ref refs/heads/ '--format=%(refname:short)' | while read branch; do mergeBase=$(git merge-base main $branch) && [[ $(git cherry main $(git commit-tree $(git rev-parse $branch\^{tree}) -p $mergeBase -m _)) == '-'* ]] && git branch -D $branch; done
