[user]
	email = mark.alfred.battersby@gmail.com
	name = Mark Battersby
[color]
	ui = true
[core]
	editor = subl -ws
	excludesfile = ~/.config/git/.gitignore_global
[push]
	default = current
[branch]
	autosetuprebase = always
[pull]
	rebase = true
[rebase]
	autostash = true
	autosquash = true
[rerere]
	enabled = 1
[pager]
	log = /usr/local/opt/git/share/git-core/contrib/diff-highlight/diff-highlight | less
	show = /usr/local/opt/git/share/git-core/contrib/diff-highlight/diff-highlight | less
	diff = /usr/local/opt/git/share/git-core/contrib/diff-highlight/diff-highlight | less

[alias]
	c = checkout
	f = fetch
	p = pull
	r = rebase
	s = status --short
	d = diff
	a = add
	b = branch
	co = commit

	c- = checkout -
	ca = checkout -- .
	cb = checkout -b
	cB = checkout -B
	cm = checkout master
	al = add .
	cof = commit --fixup
	cos = commit --squash
	r- = rebase - -i
	rc = rebase --continue
	ra = rebase --abort
	rem = rebase master
	remi = rebase master -i
	rpo = remote prune origin
	up = !git fetch && git checkout master && git pull && git checkout -

	undo = reset HEAD^

	open = !subl $(git status --short | awk '$1 ~ /^[^ ]/ {print $2}')
	conflicts = !subl $(git status --short | awk '$1 ~ /^[AUD][AUD]/ {print $2}')

	ignore = update-index --assume-unchanged
	unignore = update-index --no-assume-unchanged
	ignored = !git ls-files -v | grep "^[[:lower:]]"

	delete-merged = !git branch --merged | grep -v "^*" | xargs -n 1 git branch -d
