fish_history
fish_read_history
generated_completions
fishd*

Package Control.cache/
Package Control.last-run
Package Control.*-ca-bundle

configstore/
direnv/

flexget/private.yml
flexget/received/
flexget/*.sqlite
flexget/*.log*

roots/
*.map

sublime/Camaleon.selected-preset

slate/slate.js
