fish_history
fishd*

Package Control.cache/
Package Control.last-run
Package Control.system-ca-bundle

configstore/

flexget/private.yml
flexget/received/
flexget/*.sqlite
flexget/*.log

roots/
fish/generated_completions/
sublime/Camaleon.selected-preset
fish/fish_read_history
