fish_history
fishd*

Package Control.cache/
Package Control.last-run
Package Control.system-ca-bundle

configstore/

flexget/private/imdb-settings.yml
flexget/db-config.sqlite
flexget/flexget.log
flexget/received/

roots/
fish/generated_completions/
